<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LINQSQL.Properties.Settings.nkdemoConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\Database\nkdemo.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>