USE [master]
GO
/****** Object:  Database [OurDecors]    Script Date: 18.09.2025 11:58:28 ******/
CREATE DATABASE [OurDecors]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OurDecors', FILENAME = N'F:\Game\MSSQL16.MSSQLSERVER\MSSQL\DATA\OurDecors.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OurDecors_log', FILENAME = N'F:\Game\MSSQL16.MSSQLSERVER\MSSQL\DATA\OurDecors_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OurDecors].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OurDecors]
GO
/****** Object:  Table [dbo].[Material_type]    Script Date: 18.09.2025 11:58:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_type](
	[TypeMaterial] [nvarchar](255) NULL,
	[PercentagMearriageMaterial ] [float] NULL,
	[Id] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 18.09.2025 11:58:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[NameMaterial] [nvarchar](255) NULL,
	[Id] [nvarchar](255) NULL,
	[TypeMaterialId] [float] NULL,
	[TypeMaterial] [nvarchar](255) NULL,
	[CostMaterialOne] [float] NULL,
	[CountMaterial] [float] NULL,
	[MinCount] [float] NULL,
	[CountInPackage] [float] NULL,
	[UnitMeasurement] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_materials]    Script Date: 18.09.2025 11:58:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_materials](
	[Id] [float] NULL,
	[Product] [nvarchar](255) NULL,
	[MaterialId] [nvarchar](255) NULL,
	[NameMaterial] [nvarchar](255) NULL,
	[CountNeedMaterial] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_type]    Script Date: 18.09.2025 11:58:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_type](
	[TypeProduct] [nvarchar](255) NULL,
	[CoefficientType] [float] NULL,
	[Id] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 18.09.2025 11:58:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[TypeProductId] [float] NULL,
	[TypeProduct] [nvarchar](255) NULL,
	[NameProduct] [nvarchar](255) NULL,
	[Article ] [float] NULL,
	[MinCostPartner] [float] NULL,
	[RollWidth] [float] NULL
) ON [PRIMARY]
GO
USE [master]
GO
